{% extends 'base.html' %}
{% block content %}
{% load static %}

<title>larizzmanizz</title>
<h1>Welcome To larizzmanizz!</h1>
<p>Ready to RIZZ your heart with our cookiez</p>
<p>Made by {{ myname }} {{ npm }} {{ class }}</p>
<br>

<a href="{% url 'main:create_product_form' %}">
  <button>Add New Product</button>
</a>

<br>
<br>

<a href="{% url 'main:logout' %}">
    <button>Logout</button>
  </a>

  <h5>Sesi terakhir login: {{ last_login }}</h5>

{% if not products %}
<p>Belum ada data product pada larizzmanizz.</p>
{% else %}

<!-- Kontainer Flexbox untuk produk -->
<div class="menu-container">

<!-- Kontainer Flexbox untuk produk -->
<div class="menu-container">
    <!-- Loop untuk menampilkan produk-produk dari context -->
    {% for product in products %}
        <div class="product">
            <p><strong>{{ product.name }}</strong></p>
            <p>Rp{{ product.price }}</p>
            <p>{{ product.description }}</p>
            <p>{{ product.rating }}</p>
        </div>

        <br>
    {% endfor %}
</div>
{% endif %}

<br />

{% endblock content %}